ETAPA 1: Limpieza y preparación de datos
* Objetivo: Comprender la estructura del dataset y generar una base consolidada y limpia.
* Rango temporal: 1 mes de datos (ejemplo: enero 2020).
* Dificultad: Básica – operaciones individuales sobre un solo archivo CSV.
Responde los siguientes ítems utilizando Python y Pandas:
1. Cargar y visualizar los primeros 5 registros del archivo 01-22-2020.csv.

In [48]:
%pylab inline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests

Populating the interactive namespace from numpy and matplotlib

In [49]:
url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/"

In [50]:
print(url)

https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/

In [51]:
dframes = []
for i in range(1,32):
  if i < 10:
    dt = f"08-0{i}-2021.csv"
    dframes.append(dt)
  else:
    dt = f"08-{i}-2021.csv"
    dframes.append(dt)
print(dframes)

['08-01-2021.csv', '08-02-2021.csv', '08-03-2021.csv', '08-04-2021.csv', '08-05-2021.csv', '08-06-2021.csv', '08-07-2021.csv', '08-08-2021.csv', '08-09-2021.csv', '08-10-2021.csv', '08-11-2021.csv', '08-12-2021.csv', '08-13-2021.csv', '08-14-2021.csv', '08-15-2021.csv', '08-16-2021.csv', '08-17-2021.csv', '08-18-2021.csv', '08-19-2021.csv', '08-20-2021.csv', '08-21-2021.csv', '08-22-2021.csv', '08-23-2021.csv', '08-24-2021.csv', '08-25-2021.csv', '08-26-2021.csv', '08-27-2021.csv', '08-28-2021.csv', '08-29-2021.csv', '08-30-2021.csv', '08-31-2021.csv']

In [52]:
urldf = [url+ dat for dat in dframes]
print(urldf)

['https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-01-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-02-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-03-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-04-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-05-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-06-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-07-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-08-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-09-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-10-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-11-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-12-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-13-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-14-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-15-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-16-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-17-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-18-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-19-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-20-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-21-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-22-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-23-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-24-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-25-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-26-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-27-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-28-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-29-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-30-2021.csv', 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/08-31-2021.csv']

In [53]:
templist =[]
for a in urldf:
    try:
        tempdf = pd.read_csv(a)
        templist.append(tempdf)
    except Exception as e:
        print(f"Error al leer {a}: {e}")

In [54]:
DFAgosto2021 = pd.concat(templist, ignore_index=True)

In [55]:
DFAgosto2021.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-08-02 04:21:36,33.93911,67.709953,147501,6737,82586.0,58178.0,Afghanistan,378.903894,4.567427
1,NaN,NaN,NaN,Albania,2021-08-02 04:21:36,41.15330,20.168300,133121,2457,130243.0,421.0,Albania,4625.790534,1.845689
2,NaN,NaN,NaN,Algeria,2021-08-02 04:21:36,28.03390,1.659600,172564,4291,116009.0,52264.0,Algeria,393.523137,2.486614
3,NaN,NaN,NaN,Andorra,2021-08-02 04:21:36,42.50630,1.521800,14678,128,14210.0,340.0,Andorra,18996.958519,0.872053
4,NaN,NaN,NaN,Angola,2021-08-02 04:21:36,-11.20270,17.873900,42815,1016,37397.0,4402.0,Angola,130.270343,2.373000

2. Mostrar el número total de filas y columnas del DataFrame.

In [56]:
print("EL Dataframe de Agosto del 2021 contiene "+str(DFAgosto2021.shape[0])+" Filas y "+str(DFAgosto2021.shape[1])+" Columnas")

EL Dataframe de Agosto del 2021 contiene 124434 Filas y 14 Columnas

3. Describir los tipos de datos (dtypes) y convertir las columnas necesarias (por ejemplo,
fechas).

In [57]:
DFAgosto2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124434 entries, 0 to 124433
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   FIPS                 101246 non-null  float64
 1   Admin2               101401 non-null  object
 2   Province_State       118885 non-null  object
 3   Country_Region       124434 non-null  object
 4   Last_Update          124434 non-null  object
 5   Lat                  121644 non-null  float64
 6   Long_                121644 non-null  float64
 7   Confirmed            124434 non-null  int64
 8   Deaths               124434 non-null  int64
 9   Recovered            3704 non-null    float64
 10  Active               3704 non-null    float64
 11  Combined_Key         124434 non-null  object
 12  Incident_Rate        121644 non-null  float64
 13  Case_Fatality_Ratio  123128 non-null  float64
dtypes: float64(7), int64(2), object(5)
memory usage: 13.3+ MB

In [58]:
DFAgosto2021["Last_Update"] = pd.to_datetime(DFAgosto2021["Last_Update"], format='%Y-%m-%d %H:%M:%S')

In [59]:
DFAgosto2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124434 entries, 0 to 124433
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   FIPS                 101246 non-null  float64
 1   Admin2               101401 non-null  object
 2   Province_State       118885 non-null  object
 3   Country_Region       124434 non-null  object
 4   Last_Update          124434 non-null  datetime64[ns]
 5   Lat                  121644 non-null  float64
 6   Long_                121644 non-null  float64
 7   Confirmed            124434 non-null  int64
 8   Deaths               124434 non-null  int64
 9   Recovered            3704 non-null    float64
 10  Active               3704 non-null    float64
 11  Combined_Key         124434 non-null  object
 12  Incident_Rate        121644 non-null  float64
 13  Case_Fatality_Ratio  123128 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(2), object(4)
memory usage: 13.3+ MB

4. Detectar y mostrar valores nulos o faltantes por columna.

In [60]:
DFAgosto2021.isnull().sum()

FIPS                    23188
Admin2                  23033
Province_State           5549
Country_Region              0
Last_Update                 0
Lat                      2790
Long_                    2790
Confirmed                   0
Deaths                      0
Recovered              120730
Active                 120730
Combined_Key                0
Incident_Rate            2790
Case_Fatality_Ratio      1306
dtype: int64

5. Eliminar columnas irrelevantes (por ejemplo, códigos FIPS o coordenadas si no se usarán).

In [61]:
DFAgosto2021.drop(columns=["FIPS","Lat","Long_"],inplace=True)

6. Estandarizar nombres de columnas (usar formato snake_case).

In [62]:
DFAgosto2021.columns = DFAgosto2021.columns.str.lower().str.replace(" ","_").str.replace("-","_")

In [63]:
print(DFAgosto2021.columns)

Index(['admin2', 'province_state', 'country_region', 'last_update',
       'confirmed', 'deaths', 'recovered', 'active', 'combined_key',
       'incident_rate', 'case_fatality_ratio'],
      dtype='object')

7. Homogeneizar nombres de países (ej. “US” → “United States”)

In [64]:
DFAgosto2021.loc[DFAgosto2021["country_region"] == "US", "country_region"] = "United States"

8. Convertir la columna Last_Update al formato YYYY-MM-DD.

In [65]:
DFAgosto2021["last_update"] = DFAgosto2021["last_update"].dt.date

In [66]:
DFAgosto2021["last_update"].head()

0    2021-08-02
1    2021-08-02
2    2021-08-02
3    2021-08-02
4    2021-08-02
Name: last_update, dtype: object

9. Crear una columna active_cases = Confirmed - Deaths - Recovered

In [69]:
DFAgosto2021["active_cases"] = DFAgosto2021["confirmed"] - DFAgosto2021["deaths"] - DFAgosto2021["recovered"]

In [70]:
DFAgosto2021.head(10)

,admin2,province_state,country_region,last_update,confirmed,deaths,recovered,active,combined_key,incident_rate,case_fatality_ratio,active_cases
0,NaN,NaN,Afghanistan,2021-08-02,147501,6737,82586.0,58178.0,Afghanistan,378.903894,4.567427,58178.0
1,NaN,NaN,Albania,2021-08-02,133121,2457,130243.0,421.0,Albania,4625.790534,1.845689,421.0
2,NaN,NaN,Algeria,2021-08-02,172564,4291,116009.0,52264.0,Algeria,393.523137,2.486614,52264.0
3,NaN,NaN,Andorra,2021-08-02,14678,128,14210.0,340.0,Andorra,18996.958519,0.872053,340.0
4,NaN,NaN,Angola,2021-08-02,42815,1016,37397.0,4402.0,Angola,130.270343,2.373000,4402.0
5,NaN,NaN,Antigua and Barbuda,2021-08-02,1303,43,1235.0,25.0,Antigua and Barbuda,1330.569398,3.300077,25.0
6,NaN,NaN,Argentina,2021-08-02,4935847,105772,4581132.0,248943.0,Argentina,10921.035830,2.142935,248943.0
7,NaN,NaN,Armenia,2021-08-02,230339,4619,219986.0,5734.0,Armenia,7773.230194,2.005305,5734.0
8,NaN,Australian Capital Territory,Australia,2021-08-02,124,3,121.0,0.0,"Australian Capital Territory, Australia",28.965195,2.419355,0.0
9,NaN,New South Wales,Australia,2021-08-02,9360,69,0.0,9291.0,"New South Wales, Australia",115.299335,0.737179,9291.0

10. Guardar el DataFrame limpio como covid_clean_enero2020.csv e indicar su tamaño en MB.

In [71]:
DFAgosto2021.to_csv("covid_clean_agosto2021.csv")

In [72]:
import humanize as hmn

Se importo la libreria humanize para poder usar la funcion **"naturalsiza"** de esta para obtener el tamaño del archivo en un formato más facil de leer.
Tambiense importo la función getsize de la libreria os.path para obtener el peso del archivo csv limpio

In [73]:
from os.path import getsize
tm = getsize("covid_clean_agosto2021.csv")
tml = hmn.naturalsize(tm,binary = True,format="%.4f").replace("i","")

print(f"El archivopesa {tml}")

El archivopesa 13.8745 MB